<h1>コンテンツ一覧</h1>

<p><%= notice %></p>

<div>
   <p>コンテンツ</p>
</div>

<% @contents.each do |content| %>
<div>
    <p><%= content.content %></p>
    <span><%= link_to '詳細を確認する', content_path(content.id)
     %></span>
     <span><%= link_to "編集する", edit_content_path(content.id),data: { confirm: '本当に編集していいですか？' }  %></span>
     <span><%= link_to '削除する', content_path(content.id), method: :delete ,method: :delete ,data: { confirm: '本当に削除していいですか？' } %></span>
</div>
<% end %>

<%=link_to '新しくコメントを作成する',new_content_path%>
